@import url('https://fonts.googleapis.com/css2?family=Playfair+Display: 100, 200, 300, 400, 500, 600, 700|Raleway: 100, 200, 300, 400, 500, 600, 700');|

header {
    margin: 0;
}

.logo {
    background-image: url("../images/catcafelogo.jpg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 238px;
    width: 300px;
    position:absolute;
    left:0;
    top:0;   
    border: 3px solid #3c3130;
}