@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html, body{
  width: 100%;
  overflow-x: hidden;
}

body{
  padding-top: 151px;
}

header{
  margin: 0;
}

.bg-color{
  background-color: #bdced6;
}

/***Homepage****/

/* *******************Logo******************/

.logo{
  height: 135px;
  width: 190px;
  display: inherit;
  margin-left: 5%;
}

.ul-bg{
  background-color: #e7e7e7;
  padding: 10px;
}

/* *******************Navbar and nav******************/

.navbar{
  height: 158px;
  padding: 0;
}

.bg-custom{
  background-color: #e7e7e7;
  border-top: 3px solid #3c3130;
  border-bottom: 3px solid #3c3130;
}

.container-fluid{
  padding: 0;
}

.nav-link{
  padding: 0;
}

.ulfont{
  font-family: "Raleway", serif;
  font-size: 20px;
  font-weight: 400;
}

.li-size{
  width: 200px;
}

/******************* Footer ***************/

.list-style{
  list-style-type: none;
  padding-right: 30px;
}

.footer-style{
  background-color: #d4af37;
  font-family: "Raleway", serif;
  color: #e7e7e7;
  padding-top: 20px;
}

footer{
  border-top: 3px solid #3c3130;
  border-bottom: 3px solid #3c3130;
}

/*****Font Awesome*****/

.fa-footer{
  color: #e7e7e7;
  display: inline;
  font-size: 40px;
  margin-left: 10px;
  padding: 0;
}

.fa-footer:hover{
  color: #ccc6c6;
}

.paw-color{
  color: rgb(212, 120, 34);
}

.coffee-color{
  color: #fff;
}

.home-color{
  color: rgb(125, 119, 219);
}

/**********Homepage background image********/

/**** The following code has been taken from https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image ***/

.background{
  background: url("../images/homepagebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #3c3130;
}

/**********Hero background text*********/

.h1-hero{
  font-family: "Playfair Display", sans-serif;
  font-size: 7vw;
  text-shadow: 1px 1px #000;
}

.h2-hero{
  font-family: "Playfair Display", sans-serif;
  font-size: 4vw;
  text-shadow: 1px 1px #000;
}

.h3-hero{
  font-size: 3.5vmin;
  font-weight: 200;
  text-shadow: 1px 1px #000;
}

.list-home{
  font-size: 3vmin;
  font-weight: 200;
  text-shadow: 1px 1px #000;
}

.custom-hero{
  font-family: "Raleway", serif;
}

.hero-font-color{
  color: #c7bdbb;
}

/***********Ready to book section*********/

.book-image{
  background-image: url("../images/readytobook.jpg");
  background-size: contain;
  height: 250px;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}

.center-book{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-bottom{
  background-position-y: bottom;
}

.h3-custom{
  color: #d4af37;
  font-size: 40px;
  font-family: "Raleway", serif;
  font-weight: 300;
  text-shadow: 1px 1px #000;
}

#btn-color{
  background-color: #d4af37;
  color: #dbd9d8;
  border-radius: 8px;
}

#btn-color:hover{
  background-color: rgba(212, 175, 55, 0.808);
}

/***************Carousel*************/

.pos{
  position: relative;
}

.carousel-font{
  font-family: "Playfair Display", sans-serif;
  font-size: 3vmax;
  font-weight: 300;
  color: #3c3030;
}

.carousel-caption{
  top: 0;
  bottom: auto;
  font-weight: 100;
}

.h2-carousel1{
  color: #3c3030;
  font-family: "Raleway", serif;
  font-size: 3vmax;
  font-weight: 200;
  margin-top: 10%;
  margin-bottom: 5%;
  overflow: auto;
}

.h4-carousel1{
  font-family: "Raleway", serif;
  color: #3c3030;
  font-size: 2vmax;
  font-weight: 400;
  overflow: auto;
}

.h2-carousel2{
  color: #fffcfa;
  font-family: "Raleway", serif;
  font-size: 3vmax;
  font-weight: 100;
  margin-top: 25%;
  margin-bottom: 5%;
  overflow: auto;
}

.h4-carousel2{
  font-family: "Raleway", serif;
  color: #fffcfa;
  font-size: 2vmax;
  font-weight: 100;
  overflow: auto;
}

.h2-carousel3{
  color: #d4af37;
  font-family: "Raleway", serif;
  font-size: 3vmax;
  text-shadow: 0.5px 0.5px #000;
  font-weight: 200;
  margin-top: 10%;
  margin-bottom: 5%;
  overflow: auto;
}

.h4-carousel3{
  font-family: "Raleway", serif;
  color: #d4af37;
  font-size: 2vmax;
  text-shadow: 0.5px 0.5px #000;
  overflow: auto;
}

/******Gallery*******/

.gallery-font-h1{
  font-family: "Playfair Display", sans-serif;
  font-size: 7vw;
  color: #3c3030;
}

.cat-font{
  font-family: "Raleway", serif;
  font-weight: 200;
  color: #ffffff;
  padding: 10%;
  text-align: center;
}

.gal-p{
  font-family: "Raleway", serif;
  color: #3c3030;
  font-weight: 400;
}

/***Menu***/

.menu-image{
  background-image: url("../images/menubg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.2);
}

.h1-menu{
  font-family: "Playfair Display", sans-serif;
  font-size: 7vh;
  color: #e7e7e7;
  padding-left: 40px;
}

.h2-menu{
  font-family: "Playfair Display", sans-serif;
  font-size: 5vh;
  color: #e7e7e7;
  padding-left: 40px;
}

dt{
  font-family: "Raleway", serif;
  color: #e7e7e7;
  font-size: 2.5vh;
  font-weight: 600;
  text-decoration: underline;
  padding-left: 40px;
}

dd{
  font-family: "Raleway", serif;
  color: #e7e7e7;
  font-size: 100%;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 20px;
}

/******Contact*****/

.contact-bg{
  background-image: linear-gradient(#d4af37, #fdfdfd, #fdfdfd);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

/***Form*****/

.contact-h1{
  font-family: "Playfair Display", sans-serif;
  font-size: 5vmax;
  color: #3c3130;
}

.contact-h2{
  font-family: "Playfair Display", sans-serif;
  color: #3c3130;
  font-size: 4vw;
}

.contact-h3{
  font-family: "Playfair Display", sans-serif;
  color: #3c3130;
  margin-top: 0;
  padding-top: 0;
}

.contact-p{
  font-family: "Raleway", serif;
  font-weight: 500;
  color: #3c3130;
}

.signup-form{
  color: #fff;
  background-color: #04021fc7;
  width: auto;
  height: auto;
  position: relative;
}

.text-form{
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Raleway", serif;
  border: 2px solid #3c3130;
  width: 80%;
}

.text-form:hover{
  border-color: #d4af37;
}

.text-form-box{
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Raleway", serif;
  border: 2px solid #3c3130;
}

.text-form-box:hover{
  border-color: #d4af37;
}

.text-form-type{
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
  font-family: "Raleway", serif;
  width: 87%;
}

.text-form-type:hover{
  border-color: #d4af37;
}

.margin-box{
  margin-left: 20px;
}

.form-btn{
  background-color: #d4af37;
  color: #e7e7e7;
  margin-top: 20px;
  margin-left: 20px;
  padding: 15px 35px 15px 35px;
  text-align: center;
  padding: 15px;
  border: none;
  width: 30%;
}

.form-btn:hover{
  background-color: #e7e7e7;
  color: #d4af37;
}

.comment-box{
  width: 90%;
}

.h3-form-padding{
  padding-left: 22px;
}

.iframe-size{
  width: 80%;
  height: 76%;
  border: 2px solid #3c3130;
  margin-bottom: 40px;
}

.kittens-img{
  background-color: #fdfdfd;
  margin-top: 50px;
}

/******FAQ******/

.faq-bg{
  background-image: url("../images/faqbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.h1-faq{
  color: #e7e7e7;
  font-family: "Playfair Display", sans-serif;
  font-size: 5vw;
}

.question-font{
  font-family: "Raleway", serif;
  font-weight: 200;
}

.question-box{
  background-color: #04021fc7;
  color: #e7e7e7;
  border-radius: 5px;
  display: inline-block;
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.answer-box{
  background-color: #e7e7e7a1;
  color: #04021f;
  border-radius: 5px;
  display: inline-block;
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.answer-font{
  font-family: "Raleway", serif;
  font-weight: 300;
}

.faq-p{
  color: #e7e7e7;
}

.faq-a{
  color: #d4af37;
}

.faq-a:hover{
  color: #e7e7e7;
}
